.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 167px));
    gap: 20px;
}

.gallery-item img {
    width: 100%; /* Make the images fill their grid cell */
    height: auto;
    display: block;
}

.caption {
    margin-top: 10px;
}
