.highlight-box {
    width: 80%;
    padding: 20px;
    color: #FBF6E5;
    background: repeating-linear-gradient(135deg, #B3532A, #B3532A 10px, #9d4925 10px, #9d4925 20px);
    text-align: center;
    cursor: pointer;
    margin: 20px auto;
    border: none;
    border-radius: 10px;
}

.highlight-box:hover {
    color: #FBF6E5;
    background: repeating-linear-gradient(135deg, #78381C, #78381C 10px,	#673018 10px,	#673018 20px);
}

.details {
    display: none;
    margin-top: 10px;
}