.reveal-box {
    width: 80%;
    padding: 20px;
    color: #FBF6E5;
    background-color: #6C7A82;
    text-align: center;
    cursor: pointer;
    margin: 20px auto;
    border: none;
    border-radius: 10px;
}

.reveal-box:hover {
    transform: scale(1.05);
    background-color: #252A2C;
}

.details {
    display: none;
    margin-top: 10px;
}