.reveal-box {
    width: 80%;
    padding: 20px;
    color: #FBF6E5;
    background: repeating-linear-gradient(135deg, #6C7A82, #6C7A82 10px, #66737A 10px, #66737A 20px);
    text-align: center;
    cursor: pointer;
    margin: 20px auto;
    border: none;
    border-radius: 10px;
}

.reveal-box:hover {
    background: repeating-linear-gradient(135deg, #252A2C, #252A2C 10px, #1E2224 10px, #1E2224 20px);
}

.details {
    display: none;
    margin-top: 10px;
}