.timeline {
  position: relative;
  /* padding-left: 17px; */
  border-left: 4px solid #727272; /* Vertical line */
}

.timeline-event {
  position: relative;
}

.timeline-dot {
  width: 10px;
  height: 10px;
  background-color: #727272;
  border-radius: 50%;
  position: absolute;
  /* left: -19px; */
  top: 50%;
  transform: translate(-50%, -50%);
}

.timeline-content {
  /* padding-left: 20px; */
}
