<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <h3 style="margin: 1em 0 2em 0;">
      <a href="{{ '/' | relative_url }}">&larr; Back to home</a>
    </h3>
    {{ content }}
  </body>
</html>
